### Q1. Write a program that takes a number as input and prints its square root.

In [2]:
inp = int(input("Enter a number"))

print(inp ** 0.5)

5.0

In [3]:
import math

In [5]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [4]:
inp = int(input("Enter a number"))

print(math.sqrt(inp))

5.0

### Q2. Write a program that takes two numbers as input and checks whether the first number is divisible by the second number.

In [7]:
num1 = int(input())
num2 = int(input())

if num1 % num2 == 0:
    print(f"{num1} is divisible by {num2}.")
else:
    print(f"{num1} is not divisible by {num2}.")

16 is not divisible by 5.

In [16]:
name = 'Ali'
print("Hello", name, "Ahmed", sep='***')

Hello***Ali***Ahmed

In [11]:
name = 'Ali'
print(f"Hello {name}")

Hello Ali

In [14]:
fname = 'Ali'
lname = 'Ahmed'
print("Hello {} {}".format(lname, fname))

Hello Ahmed Ali

### Q3. Write a program to print the first five odd numbers.

In [17]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [20]:
i = 1
while i <= 10:
    if i % 2 != 0:
        print(i)

    i += 1

1
3
5
7
9

### Q4. Create a list of numbers and write a program to find the sum of all elements in the list.

In [21]:
l = [23, 22, 5, 4, 7, 66]
s = 0

for i in l:
    s += i

s

127

In [22]:
sum(l)

127

### Q6. Write a program that takes a string as input and prints it in both uppercase and lowercase.

In [23]:
s = input()

print(s.upper())
print(s.lower())

HELLO IN AI DIPLOMA
hello in ai diploma

### Q7. Create a list of five elements and remove the third element.

In [24]:
l = ['Ahmed', 'Amr', 'Aya', 'Omar', 'Abdullah']

l.pop(2)
l

['Ahmed', 'Amr', 'Omar', 'Abdullah']

### Q9. Create a list of numbers and write a program to sort it in ascending order.

In [27]:
l = [22, 4, 23, 64, 7, 13]

l.sort(reverse=True)
l

[64, 23, 22, 13, 7, 4]

### Q10. Write a program to print the multiplication table of a given number.

In [28]:
num = int(input())

for i in range(1, 13):
    print(f"{num} x {i} = {num * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

### Q11. Write a Python function square(num) that takes a number as input and returns its square.

In [29]:
def square(num):
    return num * num

In [30]:
square(5)

25

### Q12. Write a Python function sum_of_digits(number) that takes an integer as input and returns the sum of its digits.

In [38]:
12 // 10

1

In [ ]:
def sum_of_digits(num):  # 25648
    s = 0
    while num != 0:
        d = num % 10   # 8
        num = num // 10  # 0
        s += d
    return s

In [42]:
sum_of_digits(256486)

31

In [ ]:
def sum_of_digits(num):  # "2569887"
    s = 0
    for d in num:
        s += int(d)
    return s

In [44]:
num = input()
sum_of_digits(num)

28

In [ ]:
def sum_of_digits(num): # 0
    if num == 0:
        return 0
    else:
        return num % 10 + sum_of_digits(num // 10)  # 4 + 2 + 1 + 0

In [46]:
sum_of_digits(124)

7

### Q13. Write a Python function reverse_string(s) that takes a string as input and returns the string in reverse order.

In [ ]:
s = "Hello in AI Diploma"
print(s[::-1])

aopDI iolH

In [59]:
r = sum([12, 4, 3, 5, 6, 33])

In [60]:
r

63

In [63]:
def my_sum(l):
    s = 0
    for i in l:
        s += i
    return s

In [64]:
my_r = my_sum([12, 4, 3, 55, 3])

In [65]:
my_r

77

In [47]:
def reverse_string(s):
    return s[::-1]

In [48]:
reverse_string("Hello in AI")

'IA ni olleH'

### Q14. Write a Python function word_count(sentence) that takes a sentence as input and returns the number of words in the sentence.

In [72]:
s = "Hello in AI Diploma"
s.split(sep=' ')

['Hello', 'in', 'AI', 'Diploma']

In [66]:
def word_count(sentence):
    return len(sentence.split())

In [67]:
s = "Hello in AI Diploma"
print(word_count(s))

4

### Q15. Write a Python function remove_elements(lst, n) that takes a list and an index n as input and removes the element at index n from the list.

In [ ]:
def remove_element(lst, n):
    lst.pop(n)
    return lst

In [ ]:
def remove_element(lst, n):
    lst.remove(lst[n])
    return lst

In [76]:
l = ['Ahmed', 'Omar', 'Amr', 'Aya', 'Ola']
remove_element(l, 2)

['Ahmed', 'Omar', 'Aya', 'Ola']

### Q16. Write a Python function duplicate_list(lst) that takes a list as input and returns a new list that duplicates the elements of the original list.

In [77]:
def duplicate_list(lst):
    return lst * 2

In [78]:
l = [1, 2, 3]
duplicate_list(l)

[1, 2, 3, 1, 2, 3]

In [81]:
l = [1, 2, 3]

l.extend(l.copy())
l

[1, 2, 3, 1, 2, 3]

In [82]:
l = [1, 2, 3]

l.append(l.copy())
l

[1, 2, 3, [1, 2, 3]]

### Q17. Write a Python function is_divisible(num1, num2) that takes two numbers as input and returns True if the first number is divisible by the second number, and False otherwise.

In [87]:
def is_divisable(num1, num2):
    if num2 == 0:
        return False
    return num1 % num2 == 0

In [88]:
is_divisable(8, 0)

False

### Q18. Write a Python function power(base, exponent) that takes a base and an exponent as input and returns the result of the base raised to the exponent.

In [7]:
def power(base, exponent):
    global r
    r = base ** exponent
    return r

In [8]:
power(2, 3)

8

In [9]:
r

8

### Q19. Write a program which will find all such numbers which are divisible by 7 but are not divisible by 5, between 2000 and 3000 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
r = []

for i in range(2000, 3001):
    if i % 7 == 0 and i % 5 != 0:
        r.append(str(i))
print(",".join(r))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

In [18]:
r

['2002',
 '2009',
 '2016',
 '2023',
 '2037',
 '2044',
 '2051',
 '2058',
 '2072',
 '2079',
 '2086',
 '2093',
 '2107',
 '2114',
 '2121',
 '2128',
 '2142',
 '2149',
 '2156',
 '2163',
 '2177',
 '2184',
 '2191',
 '2198',
 '2212',
 '2219',
 '2226',
 '2233',
 '2247',
 '2254',
 '2261',
 '2268',
 '2282',
 '2289',
 '2296',
 '2303',
 '2317',
 '2324',
 '2331',
 '2338',
 '2352',
 '2359',
 '2366',
 '2373',
 '2387',
 '2394',
 '2401',
 '2408',
 '2422',
 '2429',
 '2436',
 '2443',
 '2457',
 '2464',
 '2471',
 '2478',
 '2492',
 '2499',
 '2506',
 '2513',
 '2527',
 '2534',
 '2541',
 '2548',
 '2562',
 '2569',
 '2576',
 '2583',
 '2597',
 '2604',
 '2611',
 '2618',
 '2632',
 '2639',
 '2646',
 '2653',
 '2667',
 '2674',
 '2681',
 '2688',
 '2702',
 '2709',
 '2716',
 '2723',
 '2737',
 '2744',
 '2751',
 '2758',
 '2772',
 '2779',
 '2786',
 '2793',
 '2807',
 '2814',
 '2821',
 '2828',
 '2842',
 '2849',
 '2856',
 '2863',
 '2877',
 '2884',
 '2891',
 '2898',
 '2912',
 '2919',
 '2926',
 '2933',
 '2947',
 '2954',
 '2961',
 '2968',
 '2982',
 '2989',
 '2996']

In [16]:
print('Hello', end=',')


print('World')

Hello,World

In [17]:
for i in range(2000, 3001):
    if i % 7 == 0 and i % 5 != 0:
        print(i, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,

### 20. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.
    5 8
    Then, the output should be:
    120,40320

In [19]:
def fact(num):  # 1
    if num == 1:
        return 1
    if num == 0:
        return 1

    return num * fact(num-1)  # 5 * 4 * 3 * 2 * 1

In [23]:
l = [5, 8]
r = []
for i in l:
    r.append(str(fact(i)))

print(",".join(r))

120,40320

In [20]:
fact(5)

120

### 21. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [24]:
num = 8
i = 1
d = {}

while i <= num:
    d[i] = i * i
    i += 1
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### 22. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:
    34,67,55,33,12,98
    Then, the output should be:
    ['34', '67', '55', '33', '12', '98']
    ('34', '67', '55', '33', '12', '98')

In [26]:
nums = input("Enter a list of numbers separated by space: ")
list_num = nums.split(',')
tuple_num = tuple(list_num)

print(list_num)
print(tuple_num)

['25', '45', '78', '69']
('25', '45', '78', '69')

### 23. Write a program that calculates and prints the value according to the given formula:
    Q = Square root of [(2 * C * D) / H], 
        C is 50. H is 30.
        D is the variable whose values should be input to your program in a comma-separated sequence.

- Example
    - Let us assume the following comma separated input sequence is given to the program:
        100,150,180
    - The output of the program should be:
        18,22,24

In [27]:
import math

In [33]:
C=50; H=30
Q = math.sqrt((2 * C) / (2))
round(Q, 2)

7.07

### 24. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
    Example
        Suppose the following inputs are given to the program:
        3,5
        Then, the output of the program should be:
        [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
x,y=map(int, input("Enter two numbers separated by space: ").split())
r=[]

for i in range(x):
    row=[]
    for j in range(y):
        row.append(i*j)
    r.append(row)
print(r)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

### 25. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program:
    hello world and practice makes perfect and hello world again
    Then, the output should be:
    again and hello makes perfect practice world

In [34]:
inp = input()
words = inp.split()
s = set(words)
s

{'AI', 'Diploma,', 'Hello', 'I', 'go', 'in', 'out', 'will'}

### 26.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

    Example:
    0100,0011,1010,1001
    Then the output should be:
    1010

In [26]:
x=list(map(str,input("Enter two numbers separated by space: ").split(",")))
# x=["1110",'1010','1001']

print(x)
y=[]
for i in x:
    y.append(int(i,2))
print(y)

for i in y: 
    if i % 5 == 0:
        print(x[y.index(i)])

['0100', '0011', '1010', '1001']
[4, 3, 10, 9]
1010

### 27. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

In [28]:
x=int(input("Enter first number: "))
y=int(input("Enter second number: "))
r=[]
for i in range(x, y ):
    if i % 2 == 0:
        r.append(i)
print(r)

[2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998]

### 28. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:

    "hello world 123"
    Then, the output should be:
        LETTERS 10
        DIGITS 3

In [29]:
# inp = input("Enter a string: ")
inp="Hallo world 123"
count_alpha = 0
count_digit = 0
for i in inp:
    if i.isalpha():
        count_alpha += 1    
    if i.isdigit():
        count_digit += 1

print("Number of alphabetic characters:", count_alpha)
print("Number of numeric characters:", count_digit)

Number of alphabetic characters: 10
Number of numeric characters: 3

### 29. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program:

    Hello World
    Then, the output should be:
        UPPER CASE 2
        LOWER CASE 8

In [32]:
inp="Hallo world"
count_upper = 0
count_lower = 0
for i in inp:
    if i.islower():
        count_lower += 1    
    if i.isupper():
        count_upper += 1
print("Number of lowercase characters:", count_lower)
print("Number of uppercase characters:", count_upper)

Number of lowercase characters: 9
Number of uppercase characters: 1

### 30. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program:
    1,2,3,4,5,6,7,8,9
    Then, the output should be:
    1,9,25,49,81

In [ ]:
# x=list(map(str,input("Enter two numbers separated by space: ").split(",")))
x=[1,2,3,4,5,6,7,8,9,10]
r=[]
for i in x:
    if i % 2 != 0:
        r.append(i**2)
        
print("Odd numbers:", r)

Odd numbers: [1, 9, 25, 49, 81]

### 31. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
    1: Sort based on name;
    2: Then sort based on age;
    3: Then sort by score.
    The priority is that name > age > score.

    If the following tuples are given as input to the program:
        Tom,19,80
        John,20,90
        Jony,17,91
        Jony,17,93
        Json,21,85
    Then, the output of the program should be:
    [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [ ]:
rep=int(input("Enter a number to repeat: "))
combo=[()]
for i in range(0,rep):
    k=list(map(str,input("Enter two numbers separated by space: ").split(",")))
    combo.append((k[0],k[1],k[2]))

combo.remove(combo[0])
print(combo)

[('ali', '30', '50'), ('amr', '50', '90'), ('smsm', '20', '60')]

### 32. Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [41]:
def get_num(x): 
    if x % 2 == 0:
        return "Even"
    else:
        return "Odd"
    
num=int(input("Enter a number: "))
print(get_num(num))

Even

### 33.The Fibonacci Sequence is computed based on the following formula:
    f(n)=0 if n=0
    f(n)=1 if n=1
    f(n)=f(n-1)+f(n-2) if n>1

- Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

- Example:

    If the following n is given as input to the program:
    8
    Then, the output of the program should be:
    0,1,1,2,3,5,8,13

In [ ]:
n = int(input("Enter n: "))

a, b = 0, 1
fib_list = []

for _ in range(n):
    fib_list.append(a)
    a, b = b, a + b

print(",".join(map(str, fib_list)))

In [43]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

n = int(input("Enter n: "))

result = [str(fib(i)) for i in range(n)]

print(",".join(result))

0,1,1,2,3,5,8,13

### 34. Define a Python class named 'Person' with attributes 'name' and 'age'.

In [48]:
class Person : 
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def get_info(self):
        return f"Name: {self.name}, Age: {self.age}"

p1=Person(name="ali", age=30)

### 37. Create an instance method in the 'Person' class that prints the person's information.

In [49]:
p1.get_info()

'Name: ali, Age: 30'

### 38. Create an object of the 'Person' class and call the instance method to display its information.

### 39. Create a subclass 'Student' that inherits from the 'Person' class, and add a new attribute 'student_id'.

In [51]:
class Student(Person):
    def __init__(self, name, age, student_id):
        super().__init__(name, age)
        self.student_id = student_id

    def get_info(self):
        return f"Name: {self.name}, Age: {self.age}, Student ID: {self.student_id}"

### 40. Override the instance method in the 'Student' class to include the 'student_id' in the information display.

In [52]:
s1=Student(name="ali", age=30, student_id="S123")
print(s1.get_info())

Name: ali, Age: 30, Student ID: S123

### 41. Add private attributes ('__name' and '__age') to the 'Person' class and create methods to access and modify them.

In [55]:
class Person : 
    def __init__(self, name, age):
        self.__name = name
        self.__age = age

    def get_info(self):         # getter 
        return f"Name: {self.__name}, Age: {self.__age}"
    
    def set_name(self, name):
        self.__name = name
    def set_age(self, age):
        self.__age = age    

    def show_info(self):
        return f"Name: {self.__name}, Age: {self.__age}"

p1=Person(name="ali", age=30)
p1.set_name("ahmed")
p1.set_age(35)  
p1.show_info()

'Name: ahmed, Age: 35'

### 42. Add a class variable 'total_people' to the 'Person' class to keep track of the total number of people.

In [63]:
class Person:
    total_people = 0  

    def __init__(self, name, age):
        self.__name = name
        self.__age = age
        Person.total_people += 1  
    def set_name(self, name):
        self.__name = name

    def set_age(self, age):
        self.__age = age

    def show_info(self):
        print(f"Name: {self.__name}, Age: {self.__age}")



p1 = Person("Ali", 25)
# p1.set_age(35)  
p1.show_info()

p2 = Person("Fatima", 20)
# p2.set_age(30)
p2.show_info()

print("Total people created:", Person.total_people)

Name: Ali, Age: 25
Name: Fatima, Age: 20
Total people created: 2

### 43. Create a static method in the 'Person' class that prints a generic message about people.

In [64]:
class Person:
    total_people = 0  

    def __init__(self, name, age):
        self.__name = name
        self.__age = age
        Person.total_people += 1  
    def set_name(self, name):
        self.__name = name

    def set_age(self, age):
        self.__age = age

    def show_info(self):
        print(f"Name: {self.__name}, Age: {self.__age}")


    @staticmethod
    def about_people():
        print("all people are unique individuals with their own experiences and perspectives.")

p1 = Person("Ali", 25)
p1.show_info()
Person.about_people()

Name: Ali, Age: 25
all people are unique individuals with their own experiences and perspectives.

### 45. Create an instance variable 'grades' in the 'Student' class to store a list of grades.

In [68]:
class Student(Person):
    def __init__(self, name, age, student_id):
        super().__init__(name, age)
        self.student_id = student_id
        self.grades_list = []
    def add_grade(self, grade):
        self.grades_list.append(grade)

    def get_info(self):
        return f"Name: {self._Person__name}, Age: {self._Person__age}, Student ID: {self.student_id}"

    def get_average_grade(self):
        return sum(self.grades_list) / len(self.grades_list) if self.grades_list else 0
    

s1 = Student("Ali", 25, "S123")
s1.add_grade(85)
s1.add_grade(90)
s1.add_grade(78)
print(s1.get_info())

Name: Ali, Age: 25, Student ID: S123

### 46. Create a static method in the 'Student' class that calculates the average grade from a list of grades.

In [67]:
print(s1.get_average_grade())

84.33333333333333

### 47. Create a tuple with three elements and unpack it into three variables.

In [70]:
t=(1,2,3)
print(type(t))
x,y,z=1,2,3
print(x,y,z)

<class 'tuple'>
1 2 3

### 48. Create a dictionary representing a person with keys "name," "age," and "city."

In [71]:
d1 = { "name": "Ali", "age": 25 , "city": "Cairo" }
print(type(d1))
print(d1)

<class 'dict'>
{'name': 'Ali', 'age': 25, 'city': 'Cairo'}

### 49. Access and print the value associated with the "age" key in the dictionary

In [73]:
d1["age"]=30
print("age:", d1["age"])

age: 30

### 50. Update the age in the dictionary to a new value.

In [74]:
d1["age"]=50
print("age:", d1["age"])

age: 50

### 51. Iterate through the keys and values in the dictionary and print them.

In [76]:
d1 = { "name": "Ali", "age": 25 , "city": "Cairo" }

for i in d1.items():
    print(f"{i[0]}: {i[1]}")

name: Ali
age: 25
city: Cairo

In [79]:
for key in d1:
    print(key, ":", d1[key])

name : Ali
age : 25
city : Cairo

### 52. Find and print the number of key-value pairs in the dictionary.

In [80]:
count=len(d1)
print("Number of items in dictionary:", count)

Number of items in dictionary: 3

### 53. Remove the "city" key from the dictionary.

In [81]:
d1.pop("city")

'Cairo'

In [82]:
d1

{'name': 'Ali', 'age': 25}

### 54. Check if the "gender" key exists in the dictionary and print the result.

In [83]:
for key in d1:
    if key == "gender":
        print("gender:", d1[key])
    else:
        print("don't found the gender key")

don't found the gender key
don't found the gender key

In [86]:
print("gender" in d1)  # Check if "gender" key exists

False

### 55. Create a second dictionary with additional information and merge it with the original dictionary.

In [87]:
d2={"name": "amr", "age": 30, "gender": "male"}
# merge dictionaries
d1.update(d2)
d1

{'name': 'amr', 'age': 30, 'gender': 'male'}

### 56. Write a program to get the keys of the dictionary as a list.

In [88]:
l=[]
for key in d1:
    l.append(key)
l

['name', 'age', 'gender']

### 57. Write a program to get the values of the dictionary as a list.

In [89]:
l=[]
for key in d1:
    l.append(d1[key])
    
l

['amr', 30, 'male']

### 58. Remove the key-value pair with the "name" key from the dictionary.

In [90]:
d1.pop("name")
d1

{'age': 30, 'gender': 'male'}

### 59. Clear all items from the dictionary.

In [91]:
d1={}

### 60. Write a program to print the dictionary keys in sorted order.

In [99]:
l=list(d2.keys())
l.sort()
print(l)

['age', 'gender', 'name']

### 61. Write a program to print the dictionary values in sorted order.

In [104]:
l=list(d2.values())
print(l)

['amr', 30, 'male']

### 64. Use dictionary comprehension to create a dictionary with squares of numbers from 1 to 5.

In [106]:
d1={}
for i in range(1, 5+1):
    d1[i] = i * i

print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 65. Swap the keys and values in the dictionary and print the result.

In [109]:
d1 = { "name": "Ali", "age": 25 , "city": "Cairo" }

for key in d1.items():
    print(f"{key[1]}: {key[0]}")

Ali: name
25: age
Cairo: city

### 66. Create a list of integers with values 1 to 5.

In [110]:
l = [1, 2, 3, 4, 5]

### 67. Access and print the third element of the list.

In [114]:
l[2]

30

### 68. Modify the second element of the list to have a new value.

In [115]:
l[2]=30
l

[1, 2, 30, 4, 5]

### 69. Find and print the number of elements in the list.

In [116]:
for i in l:
    print(i)

1
2
30
4
5

### 70. Add a new element to the end of the list.

In [117]:
l.append(6)
l

[1, 2, 30, 4, 5, 6]

### 71. Create two lists and concatenate them into a new list.

In [118]:
l2 = [x * 2 for x in l]
l2

[2, 4, 60, 8, 10, 12]

In [120]:
l3=l+l2
l3

[1, 2, 30, 4, 5, 6, 2, 4, 60, 8, 10, 12]

### 72. Repeat the list three times and print the result.

In [121]:
l_rep=l*3
print(l_rep)

[1, 2, 30, 4, 5, 6, 1, 2, 30, 4, 5, 6, 1, 2, 30, 4, 5, 6]

### 73. Create a list of numbers from 1 to 10 and print only the elements from index 3 to 7.

In [122]:
l=[]
for i in range(1, 11):
    l.append(i)

In [123]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [124]:
print(l[3:7])

[4, 5, 6, 7]

### 74. Use a loop to print each element of the list.

In [127]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10

### 75. Write a program to sort the list in ascending order.

In [130]:
l=[6,9,4,7,8,1,2,3]
l.sort()
print(l)

[1, 2, 3, 4, 6, 7, 8, 9]

### 76. Reverse the order of elements in the list.

In [132]:
l.sort(reverse=True)
l

[9, 8, 7, 6, 4, 3, 2, 1]

### 78. Clear all elements from the list.

In [133]:
l=[

]

### 79. Use list comprehension to create a list of squares of numbers from 1 to 5.

In [136]:
l = [1, 2, 3, 4, 5]
l_seq = []
for i in l:
    l_seq.append(i * i)
l_seq

[1, 4, 9, 16, 25]

### 80. Create a list with three elements and unpack it into three variables.

In [155]:
l=[1,2,3]
a,b,c=l
print(a)
print(b)
print(c)

1
2
3