## **1- Write a Python program to find the area of a triangle**

In [ ]:
base = float(input("The Base: "))
height = float(input("The  height: "))
area = 0.5 * base * height
print("Area of the triangle =", area)

Enter the base length: 3
Enter the height: 10
Area of the triangle = 15.0

# **2- Write a Python program to swap two variables.**

In [ ]:
a=input("Enter the first value: ")
b=input("Enter the second value: ")

a, b = b, a

print()
print("After swapping:")
print("a =", a)
print("b =", b)

Enter the first value: 4
Enter the second value: 6

After swapping:
a = 6
b = 4

# **3-Write a Python program to enter a number from user and convert this number from kilometers to miles.**

In [ ]:
km = float(input("KM: "))
print("Miles =", km * 0.621371)

KM: 6.360
Miles = 3.9519195600000003

# **WAP to enter a number from user and print its absolute value.**

In [ ]:
num = float(input("Number: "))
print("Abs =", abs(num))

Number: -77
Abs = 77.0

# **WAP to enter a year from user and check if it is leap year or not.**

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2006
Not a leap year

# **WAP to enter the age of 3 person and print oldest and yougest among them.**

In [ ]:
a = int(input("Age 1: "))
b = int(input("Age 2: "))
c = int(input("Age 3: "))

print()
print("Oldest =", max(a, b, c))
print("Youngest =", min(a, b, c))

Age 1: 40
Age 2: 21
Age 3: 53

Oldest = 53
Youngest = 21