# Conditional Statements

In [ ]:
print("Good Morning")
print("Good Night")

Good Morning
Good Night

In [ ]:
if condition == True :

  print("Morning")
  print("hhadsa")
  a = 10


print("Hello")

In [ ]:
name = input("please enter your name ")
# x = 10
# y = 6
name= name.lower()  # to avoid different charachter cases like A or a
if  name == "ahmed":
    print("Hello Ahmed")
    print("Hello")
    a = 10
    print(a + 50)
else:
    print("You're not Ahmed ,Hello",name)

# print("Good Morning")

please enter your name anas
You're not Ahmed ,Hello anas

In [ ]:
time = "8pM"
if time == "8pM" :
  # block of code
  print("Good Morning")
else:
  print("GOOD Night")

# print("HELLO")

Good Morning

In [ ]:
if False:
    print("Hello")
else:
  print("welcome")

print("end")

welcome
end

In [ ]:
user = input("Please Enter your user Name :")
password = input("Please Enter your Password :")

if (user == 'admin' or user == 'user' ) and password == '123':
  print("Welcome admin you're logged in sucessfully")
else :
  print("Your credntional is not correct!")

Please Enter your user Name :anas
Please Enter your Password :123
Your credntional is not correct!

In [ ]:
user = input("Please Enter your user Name :")
password = input("Please Enter your Password :")

if (user == 'admin' or user == 'user') and password =='password':
  print("Welcome admin you logged in sucessfully")
else:
  print("Your credentional is not correct!")

Please Enter your user Name :user
Please Enter your Password :password
Welcome admin you logged in sucessfully

In [ ]:
user = input("Please Enter your user Name :")
password = input("Please Enter your Password :")

if user == "admin" and password == "admin":
  print("Welcome Admin you Loged Sucessfully ")
else :
  print("Your credintials are not correct !")

Please Enter your user Name :admin
Please Enter your Password :admin1
Your credintials are not correct !

In [ ]:
user = input("Please Enter your user Name :")
password = input("Please Enter your Password :")

if user == 'admin':
  if password == "password":
    print("Welcome Admin you Loged Sucessfully")
  else :
    print("your password isn't correct!")
else :
  print("Your credintials are not correct !")

Please Enter your user Name :ahmed
Please Enter your Password :password
Your credintials are not correct !

In [ ]:
user = input("Please Enter your user Name :")
password = input("Please Enter your Password :")

if user == 'admin':
    if password == 'password':
        print("Welcome Admin you Loged Sucessfully ")
    else :
        print("Your password is not correct")
else :
  print("Your credintials are not correct !")

Please Enter your user Name :user
Please Enter your Password :asdsad
Your credintials are not correct !

In [ ]:
user = input("Please Enter your user Name :")
password = input("Please Enter your Password :")

if user == "admin":
  if password == "admin":
    print("Welcome Admin you Loged Sucessfully ")
  else :
    print("you entered wrong Password ")
else :
  print("Your credintials are not correct !")

Please Enter your user Name :admin
Please Enter your Password :admin2
you entered wrong Password

In [ ]:
user = input("Please Enter your user Name :")
password = input("Please Enter your Password :")

adminUser = "admin"
adminPassword = "admin1"

if user == adminUser and password == adminPassword :
  print("Welcome Admin you Loged Sucessfully ")
else :
  print("Your credintials are not correct !")

print("WELCOME")

Please Enter your user Name :admin
Please Enter your Password :admin
Your credintials are not correct !
WELCOME

In [ ]:
if False :
    print("Hello")
    print("Hi")
else:
    print("False")
print("end")

False
end

In [ ]:
if 10 == 12:
    print("One")

In [ ]:
if 10 >= 5:
    print(1)

1

In [ ]:
if 10 > 5:
    print(1)
else:
    print(2)

1

In [ ]:
if 10 > 15:
    print(1)
else:
    print(2)

2

input from user
print even number if even
print odd number if odd

In [ ]:
n = int(input("Please enter your number:"))
if n % 2 == 0:
  print('Even')
else :
  print("odd")

Please enter your number:10
Even

In [ ]:
n = int(input("Please enter a number:"))
if n % 2 == 0 :
  print("Your Number is Even")
else :
  print("Your number is Odd")

Please enter a number:-5
Your number is Odd

In [ ]:
x=int(input("Enter a number:"))
if x%2==0:
  print("even")
else:
  print("odd")

In [ ]:
a = "Up"
if a == "right":
    print("Hi")
elif a == "Left":
    print("Bye")
else:
    print("Neither right or Left")

Neither right or Left

In [ ]:
if 10>5:    #<
  print("ten greater than 5 ")
elif 50 >30:
  print("50 >30")

if 20 >5:
  print("yes")
else :
  print("not ")

ten greater than 5
yes

In [ ]:
score = float(input("Please enter a score:"))
if score >= 90:
  print("A")
elif score >= 80 and score < 90:
  print("B")
elif score >= 70 and score < 80:
  print("C")
elif score >= 60 and score < 70:
  print("D")
elif score < 60 :
  print("F")

Please enter a score:65
D

In [ ]:
score = int(input("Please input your score: "))
if score >= 90:
    print("A")
elif score >= 80 :
    print("B")
elif score >= 70 :
    print("C")
elif score >= 60 :
    print("D")
elif score < 60:
    print("F")

Please input your score: 40
F

In [ ]:
personScore = int(input())
if personScore >90 :
  print("exellent")
elif personScore > 85 and personScore <=90 :
  print("very Good")
elif personScore <=85 and personScore > 70 :
  print("Good")
else :
  print("Lose")

102
exellent

In [ ]:
personScore = int(input())
if personScore >90 :
  print("Won")
elif personScore > 85 and personScore <=90 :
  print("very Good")
elif personScore <=85 and personScore > 70 :
  print("Good")
else :
  print("Lose")

50
Lose

In [ ]:
if 8 > 9:
    print("A")
elif 8 < 9:
    print("B")
elif 8 > 5:
    print("D")
else:
    print("C")

B

In [ ]:
if 81 > 9:
    print("A")
if 8 < 19:
    print("B")
else:
    print("C")

A
B

In [ ]:
if 8 > 9:
    print("A")
elif 8 < 19:
    print("B")
elif 10 == 10:
    print("C")
else:
    print("ABC")

B

In [ ]:
if 1 == 2:
   print("HELLO")
elif 10 == 10:
      print("Z")
else:
    print("ABC")

Z

In [ ]:
else:
  print("Hello")

SyntaxError: invalid syntax (<ipython-input-43-812897d53679>, line 1)

In [ ]:
elif 10 == 10:
    print("Z")

SyntaxError: invalid syntax (<ipython-input-44-149eef2e19f5>, line 1)

# Nested If Else

In [ ]:
user = input("Enter user Name: ")
password = input("Enter Password: ")
adminUser = "admin"
adminPassword = "admin1"

if user == adminUser : # parent IF
  if password == adminPassword : # child IF
    print("Welcome Admin you Loged Sucessfully ")
  else :
    print("you entered wrong Password ")
else :
  print("Your credintials are not correct !")

Enter user Name: admin
Enter Password: admin1
Welcome Admin you Loged Sucessfully

In [ ]:
student = input("Please Enter Your Grade:")
grade=0
if student == "1stSecondery" or student=="1s":
  q1 = input("what is the first Number")  #10
  q2 = input("What is the second Number") #5
  if q1 =="1":
    grade+=1 # grade=grade+1  --> grade=0+1 --> grade=1
  if q2 =="2":
    grade+=2  # grade=grade+2  --> grade=1+2 --> grade=3
elif student == "2ndSecondery" or student == "2s":
  q1 = input("what is the speed")
  q2 = input("What is the name")
  if q1 =="20":
    grade+=1
  if q2 =="Mohamed Ali":
    grade+=2

Please Enter Your Grade:2s
what is the speed20
What is the nameMohamed Ali

In [ ]:
print(grade)

3

In [ ]:
grade

3

In [ ]:
n = int(input("Write an number"))  # 10
if n == 10:
    print("A")
    if 1 == 1:
        print("B")
    else:
        print("C")
elif n > 5:
  print('ELIF')
else:
    print("D")

Write an number10
A
B

In [ ]:
if 1+1 == 2:
    if 2*2 == 8:
        print("IF")
    else:
        print("ELSE")
else:
    print("A")

ELSE

In [ ]:
n = int(input("Enter a Number: "))   # 10, 1, 5, 0
if n <= 5:
    print("A")
    if n == 3:
        print("B")
    elif n == 4:
        print("C")
    else:
        if n == 5:
            print("F")
        else:
            print("G")
else:
    if n == 7:
        print("D")
    else:
        print("E")

Enter a Number: 0
A
G

# Ternary Statements

In [ ]:
?  :

In [ ]:
b = 50
c = 10

# if b > c:
#   a = 50
# else :
#   a = 1

a = 50 if b > c  else 1

# a

50

In [ ]:
b = 12
c= 10

# a = 5 ? b>c : 10
a = 5 if b > c else 50

if (b > c) :
  a = 5
else:
  a = 50


print(a)

5

In [ ]:
a = 3
b = 1 if a>=5 else 45

# if a >= 5 :
#   b= 1
# else :
#   b=45

print(b)

45

In [ ]:
a = 8
b = 1 if a>=5 else 45
print(b)

1

In [ ]:
status = 1

msg = "Login" if status == 1 else "Logout"

print(msg)

Login

# Questions

**1. WAP to enter a number from user and check it is greater than 10 or not.**

In [ ]:
n = int(input("Please enter a number:"))
if n > 10 :
  print("your number is greater than 10")
elif n < 10 :
  print("your number is less than 10")
else :
  print("your number is 10")

Please enter a number:2
your number is less than 10

In [ ]:
n = int(input("Please enter a number:"))
result = "your number is greater than 10" if n > 10 else "your number is less than 10" if n < 10 else "your number is 10"

Please enter a number:2

In [ ]:
print(result)

your number is less than 10

In [ ]:
n = int(input("Please enter a number:"))

if n > 10 :
  print("Your number is greater than 10")
elif n == 10:
  print("Your number is 10")
else :
  print("Your number is smaller than 10")

Please enter a number:15
Your number is greater than 10

In [ ]:
n = int(input("Please enter a number:"))

result = "Greater than 10" if n > 10 else "smaller than 10" if n < 10 else "Equal to ten"

Please enter a number:15

In [ ]:
print(result)

Greater than 10

In [ ]:
n = int(input("Enter a number "))
if n >10:
  print(n,"Greater than 10")
else:
  print(n,"less than 10")

Enter a number 10
10 less than 10

In [ ]:
n = int(input("Enter a number "))
if n >10:
  print(n,"Greater than 10")
elif n ==10:
  print("you entered 10")
else:
  print(n,"less than 10")

Enter a number 9
9 less than 10

In [ ]:
n = int(input("Enter a Number: "))
if n > 10:
    print("Greater")
elif n == 10:
    print("Equal")
else:
    print("Smaller")

Enter a Number: 2
Smaller

**2. WAP to enter a number from user and check if it is even or odd.**

In [ ]:
7/2

3.5

Enter a number 6
<class 'float'>
Odd

In [ ]:
n = int(input('Enter a number '))
if n % 2==0:
  print("Even")
else:
  print("Odd")

Enter a number 10
Even

In [ ]:
n = int(input("please enter a number : "))
if n % 2 == 0:
  print('Even')
else :
  print('ODD')

please enter a number : 5
ODD

In [ ]:
n = int(input("Enter a Number: "))

if n%2 == 0:
    print("Even")
else:
    print("Odd")

Enter a Number: 10
Even

In [ ]:
n = int(input("Enter a Number: "))

if n >= 1 and n <= 5:
  if n == 1:
    print("one")
  elif n == 2:
    print("two")
  elif n == 3:
    print("three")
  elif n == 4:
    print("four")
  elif n == 5:
    print("five")
else:
    print("invalid")

**3. WAP to enter a number from user between 1 to 5 and print its character format.**

1 -- One

2 -- Two

In [ ]:
n = int(input("Enter a Number: "))
if n == 1:
  print("one")
if n == 2:
  print("two")
if n == 3:
  print("three")
if n == 4:
  print("four")
if n == 5:
  print("five")
else :
  print("invalid")    # here we use if not elif so invlaid printed in case the number is 1 or 1->4

Enter a Number: 1
one
invalid

In [ ]:
n = int(input("Enter a Number: "))
if n == 1:
  print("one")
elif n == 2:
  print("two")
elif n == 3:
  print("three")
elif n == 4:
  print("four")
elif n == 5:
  print("five")
else:
  print("invalid")

Enter a Number: 1
one

In [ ]:
n = int(input("Enter a Number: "))
if n <1 or n >5:
  print("Out of Range")
else:
  if n == 1:
    print("one")
  elif n == 2 :
    print("Two")
  elif n==3:
    print('Three')
  elif n == 4:
    print('Four')
  else:
    print('Five')

Enter a Number: 4
Four

In [ ]:
n = int(input("Enter a Number: "))
if n >=1 and n <=5 :
  if n ==1:
    print('One')
  elif n== 2:
    print('Two')
  elif n==3:
    print('Three')
  elif n == 4:
    print('Four')
  else:
    print('Five')
else:
  print('Number out of the range')

Enter a Number: 10
Number out of the range

In [ ]:
n = int(input("Enter a Number: "))

if n == 1:
    print("One")
elif n == 2:
    print("Two")
elif n == 3:
    print("Three")
elif n == 4:
    print("Four")
elif n == 5:
    print("Five")
else:
    print("Invalid Input")

Enter a Number: 20
Invalid Input

**4. WAP to enter a character from user and check if it is vowel or consonant**

In [ ]:
n = input("Enter a char: ")

if n == 'a' or n=='A':
    print("Vowel")
elif n == 'e' or n=='E':
    print("Vowel")
elif n == 'i' or n=='I':
    print("Vowel")
elif n == 'o'  or n=='O':
    print("Vowel")
elif n == 'u'  or n=='U':
    print("Vowel")
else:
    print("Consonant")

Enter a char: e
Vowel

In [ ]:
n = input("Enter a Number: ")

if n == 'a' or n == 'e' or n == 'i' or n == 'o' or n == 'u':
    print("Vowel")
else:
    print("Consonant")

Enter a Number: u
Vowel

**5. WAP to take 2 values from user and print greater value.**

In [ ]:
a = int(input("Enter a value"))
b = int(input("Enter a value"))

if a > b:
    print("Greater is", a)
elif a == b:
    print("The two numbers are Equal")
else:
    print("Greater is", b)

Enter a value150
Enter a value200
Greater is 200

**6. WAP to enter a number from user and print its absolute value.**

**7. WAP to enter a year from user and check if it is leap year of not.**

**8. WAP to enter the age of 3 person and print oldest and yougest among them.**

In [ ]:
n = int(input("Please Enter your Number "))
if n >=0:
  print(n)
else :
  print(n*-1)

Please Enter your Number 5
5

In [ ]:
abs(-5) = 5
abs(5) = 5

n * -1 =

In [ ]:

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (y%400==0) and (y % 100 ==0)
2000

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (y%4 ==0 ) and (y%100 !=0)

In [ ]:
y = int(input("Please Enter a year "))
if (y%400==0) and (y % 100 ==0):
  print("Leap Year")
elif (y%4 ==0 ) and (y%100 !=0) :
  print("Leap Year")
else :
  print("Normal Year")

Please Enter a year 2100
Normal Year

In [ ]:
-2 -1 0 1 2

| -2 |   ->  2

In [ ]:
a = int(input("Please Enter a age "))
b = int(input("Please Enter b age "))
c = int(input("Please Enter c age "))

if a > b and a > c:
  print("A is the oldest")
elif b > a and b >c :
  print("B is the oldest")
else:
  print("C is the oldest")


if a < b and a < c:
  print("A is the youngest")
elif b < a and b <c :
  print("B is the youngest")
else:
  print("C is the youngest")

Please Enter a age 10
Please Enter a age 20
Please Enter a age 30
C is the oldest
A is the youngest

In [ ]:
name = input("Please enter your name:")

Please enter your name:Mohamed

In [ ]:
print("Hello",name)

Hello Mohamed

In [ ]:
a = 10
import sys
sys.getsizeof(a)

28