# Swap first and last chars of a string.

Write a Python program to change a given string to a newly string where the first and last chars have been exchanged.

In [ ]:
s=input("entre the string : ")
new=s[0]+s[-1]
print(new)

entre the string : abdo
ao

# Sort distinct words in comma-separated input.

Write a Python program that accepts a comma-separated sequence of words as input and prints the distinct words in sorted form (alphanumerically).

In [ ]:
s=input("entre the string : ")
new=s.split(",")
new=set(new)
print(new)

entre the string : banana,apple,orange,banana,apple
{'apple', 'banana', 'orange'}

# Get first 3 chars of a string.

Write a Python function to get a string made of the first three characters of a specified string. If the length of the string is less than 3, return the original string.

In [ ]:
s=input("entre the string : ")
new=s[0:3:1]
print(new)

entre the string : ab
ab

# Remove nth character from a string.

Write a Python program to remove the nth index character from a nonempty string.

In [ ]:
s=input("entre the string : ")
n=int(input("enter the index : "))
if n<0 or n>=len(s):
  print("out of range ")
else :
  print("the new string :",s[:n]+s[n+1:])

entre the string : abdo
enter the index : 2
the new string : abo

# Repeat last 2 chars of a string 4 times.

Write a Python function to get a string made of 4 copies of the last two characters of a specified string (length must be at least 2).
Sample function and result :
insert_end('Python') -> onononon
insert_end('Exercises') -> eseseses

In [ ]:
s=input("entre the string : ")
print(s[-2::]*4)

entre the string : Exercises
eseseses

# Count Digits and Letters in a String

Write a Python program that accepts a string and calculates the number of digits and letters.

Sample Data : Python 3.2

Expected Output :

Letters 6
Digits 2

In [ ]:
from string import digits
s=input("entre the string : ")
litters=0
digitals=0
for n in s :
  if n.isalpha():
    litters+=1
  elif n.isdigit():
    digitals+=1
print("Letters: ",litters,"digits",digitals)

entre the string : Python 3.2
Letters:  6 digits 2

# Nested Loop Number Pattern

Write a Python program to construct the following pattern, using a nested loop number.

Expected Output:

1

22

333

4444

55555

666666

7777777

88888888

999999999

88888888

7777777

666666

55555

4444

333

22

1

In [ ]:
for i in range(1,10) :
  for j in range(1,i+1) :
    print(i,end="")
  print()
for i in range(8,0,-1) :
  for j in range(1,i+1) :
    print(i,end="")
  print()

1
22
333
4444
55555
666666
7777777
88888888
999999999
88888888
7777777
666666
55555
4444
333
22
1

In [ ]:
n = 5
for i in range(1, n + 1):
    spaces = n - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

for i in range(n - 1, 0, -1):
    spaces = n - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
#      *
#     ***
#    *****
#   *******
#  *********
#   *******
#    *****
#     ***
#      *

In [ ]:
r = 5
for i in range(1, r + 1):
    spaces = r - i
    stars = i
    print(" " * spaces + "*" * stars)

    *
   **
  ***
 ****
*****

In [ ]:

     *
    **
   ***
  ****
 *****