**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
s=input("enter string: ")
print(len(s))

print("--"*25)
print("##"*25)
print("--"*25)
print("use for loop ")
print("--"*25)
count=0
for i in s:
    count+=1
print(count)

print("--"*25)
print("##"*25)
print("--"*25)

print("use while loop ")
print("--"*25)

s=s+"\0"
count=0
while True:
  if s[count]=='\0':
    break
  elif s[count]!='\0':
    count+=1
print(count)

print("--"*25)
print("##"*25)
print("--"*25)

print("use try and except")
print("--"*25)
count=0
i=0
while True:
  try:
    _=s[i]
    count+=1
    i+=1
  except IndexError:
    break
print(count-1)

enter string: abdo EZZ
8
--------------------------------------------------
##################################################
--------------------------------------------------
use for loop
--------------------------------------------------
8
--------------------------------------------------
##################################################
--------------------------------------------------
use while loop
--------------------------------------------------
8
--------------------------------------------------
##################################################
--------------------------------------------------
use try and except
--------------------------------------------------
8

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource' Expected Result : 'w3ce'

Sample String : 'w3'
Expected Result : 'w3w3'

Sample String : ' w'
Expected Result : Empty String)

In [ ]:
s=input("enter string: ")
if len(s)<2:
  print('Empty String')
else:
  print(s[:2]+s[-2:])

enter string: w
w

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
s=input("enter string: ")
if len(s)<3:
  print("should be at least 3")
elif s[-3:]=="ing":    # the last char is 3 == ing
  print(s+"ly")
else:
  print(s+"ing")

enter string: sd
should be at least 3 sd

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort() # to make the final of the list is the max one
    return word_len

def the_longest (w) :
  print(find_longest_word(w)[-1][1]) # to show the longest one
  print(find_longest_word(w)[-1][0]) # to show the length of it



w=["abdo","EZZZZZ","Anas"]
find_longest_word(w)
the_longest(w)

EZZZZZ
6

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
s=input("enter string: ")
print(s[-1]+s[1:-1]+s[0])



print("--"*25)
print("##"*25)
print("--"*25)

print("use lists")
print("--"*25)

s1="abdo"
s1=list(s1)
print(type(s1),s1)
s1[-1] , s1[0]=s1[0],s1[-1]
print(s1)
s1 = "".join(s1)
print(type(s1),s1)

enter string: abdo
obda
--------------------------------------------------
##################################################
--------------------------------------------------
use lists
--------------------------------------------------
<class 'list'> ['a', 'b', 'd', 'o']
['o', 'b', 'd', 'a']
<class 'str'> obda

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
s=input("enter string: ")
print(s[0::2])    # step =2 the eve numper

enter string: abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
s='amr and ahmed are frindes but amr is the tallest'
w='amr'
count=s.split().count(w)
print(count)

2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
s=input("enter string: ")
print(s.upper())
print(s.lower())

enter string: abdo
ABDO
abdo

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reves_fun (w) :
  if len(w) %4 == 0 :
    w=w[::-1]
    return(w)
  else :
    print("the length is not a multiple of 4 ")
    return(None)

s=input("enter string: ")
a=reves_fun(s)
print(a)

enter string: absdlaksn
the length is not a multiple of 4
None

**10- Write a Python program to remove a newline in Python

In [ ]:
s="abdo\nhi "
print(s)
s=s.replace("\n"," ")
print(s)

abdo
hi
abdo hi

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
s=input("enter string: ")
pre=input("enter prefix: ")
i=0
while True :
  if pre[i] == s[i] :
    i+=1
    if i == len(pre) :
      print("yes")
      break
  else :
    print("no")
    break

enter string: abdo hi
enter prefix: hi
no

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
text = "Hello\nWorld\nFrom Python"

prefix = "[*]"
lines = text.split('\n')
for line in lines:
    print(prefix + line)

[*]Hello
[*]World
[*]From Python

**13-Write a Python program to print the following numbers up to 2 decimal places:

In [ ]:
numbers = [3.14159, 2.71828, 1.41421, 0.33333, 10.98765]

for num in numbers:
    print(f"{num:.2f} ")

3.14
2.72
1.41
0.33
10.99

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
numbers = [3.14159, -2.71828, 1.41421, 0.33333, 10.98765]

for num in numbers:
    print(f"{num:+.2f} ")

+3.14
-2.72
+1.41
+0.33
+10.99

**15-Write a Python program to display a number with a comma separator

In [ ]:
num=123456789
print(f"{num:,}")

123,456,789




**16-Write a Python program to reverse a string using 2 ways

In [ ]:
def reves_fun (w) :
  if len(w)==0 :
    return w
  else :
    return reves_fun(w[1:]) + w[0]

print("use slicing")
s=input("enter string: ")
print(s[::-1])

print("--"*25)
print("##"*25)
print("--"*25)

print("use recursion")
print(reves_fun(s))

use slicing
enter string: abdo
odba
--------------------------------------------------
##################################################
--------------------------------------------------
use recursion
odba


**17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
s=input("enter string: ")
d={}
for i in s:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
print(d)

enter string: abddddooo
{'a': 1, 'b': 1, 'd': 4, 'o': 3}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def non_repeating_char(s):
    d = {}
    for i in s:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    for i in s:
        if d[i] == 1:
            return i
    return None

s=input("enter string: ")
print(non_repeating_char(s))

enter string: aaaadddsssssfffghhhh
g

**19-Write a Python program to remove spaces from a given string

In [ ]:
s=input("enter string: ")
print(s.replace(" ",""))

enter string: abdo ezz
abdoezz

**20-Write a Python program to count the number of non-empty

substrings of a given string

In [ ]:
def substrings (n) :
  n=len(n)
  return int(n*(n+1)/2)

s=input("enter string: ")
print(substrings(s))

enter string: abc
6

**21-write a Python program to swap first and last element of any list.

In [ ]:
s1=list(input("enter list: "))
s1[-1] , s1[0]=s1[0],s1[-1]
print(s1)

enter list: abdoezz
['z', 'b', 'd', 'o', 'e', 'z', 'a']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3 Output : [19, 65, 23, 90])

In [ ]:
l=input("enter list: ")
l=l.split()
l=list(l)
pos1=int(input("enter pos1: "))
pos2=int(input("enter pos2: "))
l[pos1-1],l[pos2-1]=l[pos2-1],l[pos1-1]
print(l)

enter list: 23 65 19 90
enter pos1: 1
enter pos2: 3
['19', '65', '23', '90']

**23- search for the all ways to know the length of the list

In [ ]:
s=input("enter list: ")
s=s.split()
print(len(s))

print("--"*25)
print("##"*25)
print("--"*25)
print("use for loop")
print("--"*25)
count=0
for i in s:
    count+=1
print(count)

print("--"*25)
print("##"*25)
print("--"*25)
print("use while loop")
print("--"*25)


count=0
s.append("\0")

while True:
  if s[count]=='\0':
    break
  elif s[count]!='\0':
    count+=1
print(count)

enter list: 10 90 80 60
4
--------------------------------------------------
##################################################
--------------------------------------------------
use for loop
--------------------------------------------------
4
--------------------------------------------------
##################################################
--------------------------------------------------
use while loop
--------------------------------------------------
4

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
s=input("enter list: ")
s=s.split()
for i in s :
  s[s.index(i)]=int(i)
s.sort()
print(s)
print(s[-1])

print("--"*25)
print("##"*25)
print("--"*25)
print("use max function")
print("--"*25)
print(max(s))

enter list: 80 90 20 1 3 5 6
[1, 3, 5, 6, 20, 80, 90]
90
--------------------------------------------------
##################################################
--------------------------------------------------
use max function
--------------------------------------------------
90

**25-write a Python code to find the Minimum number of list of numbers.]4

In [ ]:
s=input("enter list: ")
s=s.split()
for i in s :
  s[s.index(i)]=int(i)
s.sort()
print(s)
print(s[0])
print("--"*25)
print("##"*25)
print("--"*25)
print("use min function")
print("--"*25)
print(min(s))

enter list: 10 2 6 98 5 1
[1, 2, 5, 6, 10, 98]
1
--------------------------------------------------
##################################################
--------------------------------------------------
use min function
--------------------------------------------------
1

**26-search for if an elem is existing in list

In [ ]:
s=input("enter list: ")
x=int(input("enter number to search : "))
s=s.split()
for i in s :
  s[s.index(i)]=int(i)
if x in s :
  print("yes")
else :
  print("no")

enter list: 10 20 30 90
enter number to search : 20
yes

In [ ]:
s=input("enter list: ")
x=input("enter number to search : ")
s=s.split()
print(x in s)

enter list: 10 20 90 50
enter number to search : 50
True

**27- clear python list using different ways

In [ ]:
l = [1, 2, 3]
l.clear()
print(l)

[]

In [ ]:
l = [1, 2, 3]
while l:
    l.pop()
print(l)

[]

In [ ]:
l = [1, 2, 3]
l=[]
print(l)

[]

**28-remove duplicated elements from a list

In [ ]:
s=input("enter list: ")
s=s.split()
s=set(s)
s=list(s)
print(s)

enter list: 10 10 10 30 60 50
['50', '30', '10', '60']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”] Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

result = []

for i in range(0, len(test_list), len(key_list)):
    temp = {}
    for j in range(len(key_list)):
        temp[key_list[j]] = test_list[i + j]
    result.append(temp)

print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using
 different ways

In [ ]:
l = [1, 2, 2, 3, 4, 4, 5]
for i in range(len(l)):
  if l.count(l[i])==1:
    print(l[i])

1
3
5

In [ ]:
l = [1, 2, 2, 3, 4, 4, 5]
i = 1
while i < len(l):
    if l[i] == l[i-1]:
        del l[i]
        del l[i-1]
        i = max(i - 1, 1)
    else:
        i += 1
print(l)

[1, 3, 5]