## **1- Write a Python program to find the area of a triangle**

In [ ]:
# area of tringle
hight=float(input("enter hight of tringle:"))
base=float(input("enter base of tringle:"))
area=0.5*hight*base
print("area of tringle is:",area,"cm^2")

enter hight of tringle:12
enter base of tringle:20
area of tringle is: 120.0

# **2- Write a Python program to swap two variables.**

In [ ]:
x=input("enter the first value ")
y=input("enter the second value ")
x,y=y,x
print("value of x after swapping:",x)
print("value of y after swapping:",y)
##########################################
print("##"*25)
print("the second solution useing temp >>>>>")
print("##"*25)
##########################################
# another solution
x=input("enter the first value ")
y=input("enter the second value ")
temp=x
x=y
y=temp
print("value of x after swapping:",x)
print("value of y after swapping:",y)

enter the first value 13
enter the second value 15
value of x after swapping: 15
value of y after swapping: 13
##################################################
the second solution useing temp >>>>>
##################################################
enter the first value 13
enter the second value 15
value of x after swapping: 15
value of y after swapping: 13

# **3-Write a Python program to enter a number from user and convert this number from kilometers to miles.**

In [ ]:
# from Kilometers to miles
Kilometers=float (input("enter the value in Kilometers:"))
miles=Kilometers*0.621371
print(Kilometers,"Kilometers is equal to",miles,"miles")

enter the value in Kilometers:10
10.0 Kilometers is equal to 6.21371 miles